// layout 样式变量
// 左侧菜单样式
$base-layout_slider_width: 260px;
$base_layout_slider_background: red;

// 顶部导航样式
$base_layout_tabber_height: 50px;
$base_layout_tabber_background: blue;

// 显示区样式
$base_layout_main_background: yellow;

// logo样式
$base_layout_slider_logo_width: 20px;

$base_layout_slider_logo_title_font_size: 20px;
