// layout 样式变量
// 左侧菜单样式
$base-layout_slider_width: 260px;
$base_layout_slider_background: #363636;

// 顶部导航样式
$base_layout_tabber_height: 50px;
$base_layout_tabber_background: white;

// 显示区样式
$base_layout_main_background: yellow;

// logo样式
$base_layout_slider_logo_height: 100px;

$base_layout_slider_logo_title_font_size: 20px;
